html{
    background-color: black;
}

body{
    font-family: "Trebuchet MS";
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/*Header*/
header{
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

/*Nav Bar*/
nav{
    width: 100%;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF),
    to(#DDDDDD));
    background: -moz-linear-gradient(top, #FFFFFF, #DDDDDD);
    background: linear-gradient(#FFFFFF, #DDDDDD);
    border-radius: 5px;
    border: 1px solid #dddddd;
    box-shadow: 0px 0px 8px #CCCCCC;
}

nav ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
    display: table;
}

nav a:link{
    display: block;
    width: 199px;
    height: 45px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    font-family: Trebuchet MS;
    vertical-align: middle;
    display: table-cell;
}

nav a:hover{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE),
    to(#CCCCCC));
    background: -moz-linear-gradient(top, #EEEEEE, #CCCCCC);
    background: linear-gradient(#EEEEEE, #CCCCCC);
}

nav a:active{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDDDDD),
    to(#FFFFFF));
    background: -moz-linear-gradient(top, #DDDDDD, #FFFFFF);
    background: linear-gradient(#DDDDDD, #FFFFFF);
}

nav a:visited{
    color: black;
}

#sign{
    display: inline;
    width: 40px;
    height: 15px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF),
    to(#DDDDDD));
    background: -moz-linear-gradient(top, #FFFFFF, #DDDDDD);
    background: linear-gradient(#FFFFFF, #DDDDDD);
    border-radius: 5px;

}



#container{
    padding-left: 40px;
    padding-right: 40px;

}

footer{
    margin-top: 5px;
    padding: 5px;

}

footer #link{
    display:inline;

}

#copyright{
    margin-left: 30px;
    float: right;
    text-align: right;
}