html{
}

body{
    font-family: "Trebuchet MS";
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

#container{
    /*width: 1200px;*/
    /*margin-left: 100px;*/
    /*margin-right: 100px;*/
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #ffffff;
}

/*Header*/
header{
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

/*Nav Bar*/
nav{
    width: 100%;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
}

nav ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
    display: table;
}

nav a:link{
    display: block;
    width: 200px;
    height: 45px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    font-family: Trebuchet MS;
    vertical-align: middle;
    display: table-cell;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF),
    to(#DDDDDD));
    background: -moz-linear-gradient(top, #FFFFFF, #DDDDDD);
    background: linear-gradient(#FFFFFF, #DDDDDD);
}

nav a:hover{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE),
    to(#CCCCCC));
    background: -moz-linear-gradient(top, #EEEEEE, #CCCCCC);
    background: linear-gradient(#EEEEEE, #CCCCCC);
}

nav a:active{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDDDDD),
    to(#FFFFFF));
    background: -moz-linear-gradient(top, #DDDDDD, #FFFFFF);
    background: linear-gradient(#DDDDDD, #FFFFFF);
}

/*Topbar for sign up and sign in*/
#topbar{
    /*float: right;*/
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

#sign{
    text-align: center;
    vertical-align: middle;
    float: right;
}

#form-sign{
    display: inline;
}

/*Sign up page*/
#sign-up{
    margin: auto;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    box-shadow: 3px 3px 10px #000000;
}

#content{
    padding-left: 20px;
    padding-right: 20px;
}

/*Footer*/
footer{
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

footer #link{
    float: left;
    text-align: left;
}

footer #footer{
    /*margin-left: 30px;*/
    float: right;
    text-align: right;
}

.copyright{
    display: inline;
}

#adventure-post div{
    margin-left: 20px;
}

#adventure-post h1{
    text-decoration: none;
}

#profile{
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: center;
}

/*SIGN UP FORM*/
#form-main{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: solid;
    border-radius: 5px;
}
